@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@nuxt/ui";

:root {
  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
  --ui-container: 60%;
}


/*Voici l'ancien code
@theme static {
    --font-sans: 'Public Sans', sans-serif;
  
    --breakpoint-3xl: 1920px;
  
    --color-green-50: #EFFDF5;
    --color-green-100: #D9FBE8;
    --color-green-200: #B3F5D1;
    --color-green-300: #75EDAE;
    --color-green-400: #00DC82;
    --color-green-500: #00C16A;
    --color-green-600: #00A155;
    --color-green-700: #007F45;
    --color-green-800: #016538;
    --color-green-900: #0A5331;
    --color-green-950: #052E16;
  }
*/





@layer theme {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--ui-primary);
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--ui-primary);
    margin-bottom: 0.25rem;
  }
  h3 {
    font-size: 1.5 rem;
    color: var(--ui-primary);
    margin-bottom: 0.25rem;
  }
}

@layer components {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--ui-primary);
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ui-primary);
    margin-bottom: 0.25rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--ui-primary);
    margin-bottom: 0.25rem;
  }
  p {
    font-size: 1.1rem;
  }
  code {
    background: var(--color-neutral-50);
    border-radius: 4px;
    padding: 0.2em 0.4em;
    font-size: 1.05rem;
    color: var(--ui-primary);
  }

  ul {
  list-style-type: disc;
  padding-left: 1rem;
  }

  ol {
  list-style-type: decimal;
  padding-left: 1rem;
  }


}

/* par Copilot : pour afficher les numéros de ligne */
.shiki .line::before {
  content: attr(line);
  position: absolute;
  left: 0;
  width: 2em;
  text-align: right;
  color: #999;
  opacity: 0.5;
  user-select: none;
  font-variant-numeric: tabular-nums;
  padding-right: 0.5em;
}

/* par Copilot : pour gérer l'espacement les numéros de ligne et le code*/
.shiki .line {
  display: block;
  position: relative;
  padding-left: 2.5em; /* espace pour le numéro */
}

/* Par Copilot : pour forcer l'arrière-plan des blocs de code  ; celui du thème VSC ne fonctionne pas ; attention, cette modif ne s'applique que pour le thème material-theme-lighter
J'ai supprimé la ligne :   color: #24292e !important; il me semble que la couleur du texte suit le thème sélectionné */

.shiki.material-theme-lighter {
  background: var(--color-neutral-50) !important;
  border-radius: 8px;
  padding: 1em;
}
